body
{
    text-align: center;
}

}
#contact iframe
{
    width: 50%;
}
.contact_1 h5
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


#videos iframe
{
    width: 80%;
}
#img1{
    height: 500px;
    width: 500px;
}

